.search {
  /* molecules/search bar */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  position: relative;
  width: 598px;
  height: 28px;
}

.frame1 {
  /* Frame 1 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 212px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

Icons {
  /* atoms/icons */
  width: 24px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

input {
  /* Search by title or author */

  border: 0px;

  width: 180px;
  height: 24px;

  /* beta/body 2 */

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* beta/text/placeholder */

  color: #747575;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

input:focus{
    outline: none;
}

.vector1 {
  /* Vector 1 */

  width: 598px;
  height: 0px;

  /* gamma/grey/100 */

  border: 1px solid #bac9cf;

  background-color: #BAC9CF;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
